<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>Welcome to {{ title }}!</h1>

  <!-- <app-propery-binding></app-propery-binding> -->
  <!-- <app-event-binding></app-event-binding> -->
  <!-- <app-template-reference-variable></app-template-reference-variable> -->
  <!-- <app-two-way-binding></app-two-way-binding> -->
  <!-- <app-ng-switch-directive></app-ng-switch-directive> -->
  <!-- <app-ng-for-directive></app-ng-for-directive> -->
  <!--   <app-component-interaction-father></app-component-interaction-father> -->
  <!--  <app-pipes></app-pipes> -->
  <!--   <app-employee-list></app-employee-list>
  <app-employee-detail></app-employee-detail> -->
</div>
